.shorts-header{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10px;
  background-color: rgb(249, 249, 249);
}
.shorts-icon{
  position:absolute;
  left:0;
  display: flex;
  align-items: center;
  bottom:0;
  left: 20px;
  
}
.shorts-header-burger-menu{
 position:absolute;
 bottom:-11px;
 right:5px;
 padding: 6px 8px;
 cursor: pointer;

}
.shorts-header-burger-menu:hover{
 border-radius: 50%;
 background-color: rgb(218, 203, 203);
}

.shorts-name{
  font-size: 18px;
  font-weight: 500;
  padding-left: 4px;
}